@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/wow.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    color: black;
    font-family: "AR One Sans", sans-serif;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 2rem;
    color: beige;
    margin: 1px; 
    font-weight: bold;
}

a:hover{
    color:wheat;
    transition: all  0.15s;
    transform: translateY(5px);
}

nav{
    height: 70px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #5c7438, #416324);
}

.center p {
    padding-bottom: 10px;
}

.center {
    text-align: center;
    padding: 30px;
    margin: 1%;
    margin-left: 40%;
    background-color:transparent;
    width: 43%;
    border-radius: 20px;
}


.name {
    color: green;
    font-size: 1.3rem;
}

.background img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.right {
    float: right;
}

img {
    width: 20%;
    height: auto; 
}

.socmed a {
    padding: 1rem; 
    display: inline-block; 
}

.socmed img {
    width: 30px; 
    height: auto; 
}

.picture{
    margin-top: 8%;
    margin-left: 15%;
    position: absolute;
    width: 130%;
}

.picture img {
    object-fit: cover;
    border-radius: 50%; 
    transition: all .8s;
    cursor: pointer;
    border: white solid 5px;
}

.picture img:hover{
    transform: scale(1.05);
}



  .two{
    font-size: 2.1rem;
    font-family: 'Merienda', sans-serif;
    margin: 1rem auto;
    color: #00000061;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(green), color-stop(1, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(1, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
  }
  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  



@media screen and (max-width: 768px) {

    body {
        background-image: url('../images/wow.avif');
        background-size: cover;
        background-repeat: no-repeat;
        color: black;
        font-family: "AR One Sans", sans-serif;
    }
    
    .center {
        margin: auto;
        width: 60%;
        max-width: 700px ;
       
    }

    .picture {
        margin-left: 30%;
        margin-top: 8%;
        width: 130%;
        position: relative;
        flex-wrap: wrap; 
    }

    .picture img {
        object-fit: cover;
        border-radius: 50%;
        transition: all .8s;
        cursor: pointer;
        border: white solid 5px;
        width: 30%; 
        height: auto;
    }

    .center p {
        padding-bottom: 5%;
    }

    .socmed img {
        width: 20px; 
        height: auto; 
    }


}

@media screen and (max-width: 480px) {
    .center {
        width: 90%;
        max-width: 400px;
    }

    
        a{
            padding: 1rem;
            font-size: 8px;
            text-align: center;
        }

        .picture {
            margin-left: 30%;
            margin-top: 8%;
            width: 130%;
            position: relative;
            flex-wrap: wrap;
        }
    
        .picture img {
            object-fit: cover;
            border-radius: 50%;
            transition: all .8s;
            cursor: pointer;
            border: white solid 5px;
            width: 30%;
            height: auto; 
        }

    
    
}
