*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.container{
    max-width: 1200px;
    display:flex;
    margin: 0 auto;
}
.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    margin-top: 5%;
    font-size: 18px;
    font-style: normal;
    margin-block-end: 5%;
}

.left{
    width: 50%;
    padding: 1rem;
    margin-top: 150px;
}

.right{
    width: 50%;
    padding: 1rem;
    margin-top: 150px;
}
img{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: solid #5c7438 5px;
    border-radius: 10px;
    transition: all .8s;
    cursor: pointer;
}

img:hover{
    transform: scale(1.05);
}


button{
    padding: 8px;
    width: 20%;
    border: 2px solid #5c7438;
    color: rgb(14, 13, 13);
    transition: background, transform .8s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background: linear-gradient(pink, rgb(247, 223, 91));
    color: white;
    transform: translateY(-15px);
}
