
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    /* padding: 100px; */
    background-color: beige;

}

p, h1{
    /* margin-top: 10%; */
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.btn1{
    /* margin-top: 10%; */
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color:  #a7c47c  ;
}



.sectionOne{
    display: flex;
   justify-content: center;
   align-items: center;
}

.card{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
}


img{
    width: 300px;
}


.p1, .p2, .p3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:  #5c7438 ;
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.p1:hover, .p2:hover, .p3:hover{
    transform: translateY(5px);
    background-color:  #5c7438 ;
}

.projecttitle{
    margin-left: 38%;
    
}

button{
    padding: 10px;
    background-color: #a7c47c ;
    /* box-shadow: 10px 10px 5px gray; */
    /* margin-right: 10px; */
    border-radius: 10px;

}

.card p{
    text-align: center;
    padding: 10px;
  
}

.card img{
    width: 250px;
    height: 250px;
}

button:hover{
    background-color: antiquewhite;
    transition: all  0.15s;
    transform: translateY(5px);
    
}

.image{
    padding: 100px;
    border-radius: 100px;
}

.pic{
    border: 5px solid white;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 2rem;
    color: beige;
    margin: 1px; 
    font-weight: bold;
}

a:hover{
    color:wheat;
    transition: all  0.15s;
    transform: translateY(5px);
}

nav{
height: 70px;
display: flex;
list-style: none;
justify-content: center;
align-items: center;
padding: 5px;
background-color: #5c7438;
}






